body{
  padding: 10px 10px 10px 10px;
  margin: 40px;
  
}

/**** mobile view ****/
@media (max-width:767px){
#one {
	width: 80%;
}
#two {
	width: 80%;
}
#three {
	width: 80%;
}
}

/**** tablet view ****/
@media (min-width:768px) and (max-width:991px){
#one {
	width: 50%;
}
#two {
	width: 50%;
}
#three {
	width: 100%;
}

}



#one {
    display: block;
    border-style: solid;
    padding: 40px ;
    border-collapse: separate;
    border-spacing: 10px;
    background: #61615E;
 	
     
  
}
#two {
    display: block;
    border-style: solid;
    padding: 40px ;
     background: #61615E;
   
}
#three {
    display: block;
    border-style: solid;
    padding: 40px ;
     background: #61615E;
       
}
h1{
	text-align: center;
	padding: 3px 0 ;
	 
}

p.top {
    border: 1px solid black;
    outline-style: none;
    outline-color: #000000;
   position: relative;
	width: 12%;
	float:right;
	margin-left: 95px;
	border: 1px solid black;
	height: 40px;
	left: 40px;
	overflow: hidden;
	 background: #EB9886;
	 padding-top: 20px;
	 padding-left:20px;
	 top: -56px;
	   padding: 10px 10px 10px 10px;
	
}
p.middle {
    border: 1px solid black;
    outline-style: none;
    outline-color: #000000;
    position: relative;
	width: 12%;
	float:right;
	margin-left: 105px;
	border: 1px solid black;
	height: 40px;
	left: 40px;
	overflow: hidden;
    background: #DC0707;
    padding-top: 20px;
    padding-left:20px;
    top: -56px;
      padding: 10px 10px 10px 10px;
}

p.bottom {
    border: 1px solid black;
    outline-style: none;
    outline-color: #000000;
    position: relative;
	width: 12%;
	float:right;
	margin-left: 95px;
	border: 1px solid black;
	height: 40px;
	left: 40px;
	overflow: hidden;
	 background: #DAD709;
	 padding-top: 20px;
	 padding-left:20px;
	top: -56px;
	  padding: 10px 10px 10px 10px;
}
